@import '../../styles/variables';

.menu_block{
    padding: 15px;
    background-color: #F9F9F9;
}
.menu_list{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu_link{
        list-style: none;
    }
    .menu_item{
        color: $black;
        font-size: 15px;
        font-weight: 600;
    }
}