@import '../../styles/variables';

.wrapper{
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    .img_card{
        border-radius: 12px;
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }
    .card_title{
        padding: 10px 0 5px;
    }
    .priceBlock{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
    }
    .price{
        font-weight: 600;
        font-size: 18px;
        color: $black;
    }
}
.wrapper > div {
    position: unset !important;
}
