.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.grid2fr{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
}

.d-ib {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.d-i-flex {
    display: inline-flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-self-start {
    align-self: flex-start;
}

.flex-column {
    flex-direction: column;
}

.flex-auto {
    flex: 1 1 auto;
}